body {
    background-color: #ffffff;
    color: #593500;
}

/* MAIN */
main.container-fluid {
  background-color: #F7F7F2;
}

/* HEADER */
h2 {
  color: #996600;
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: bold;
}

.h3-lista {
  color: #996600;
  font-size: 15px;
  margin-bottom: 0px;
  font-weight: bold;
  margin-left: 7px;
}

/* ROW */
.row-header-lista {
  background-color: #FFC76F;
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  height: 25px;
}

/* UL */
ul.corpora {
  list-style: none;
}

li.corpora{
  margin-top:20px;
}

/* Content */
a {
	color:#996600;
	text-decoration:none;
	font-weight:bold;
}

a:hover {
	color:#FF9B04;
	font-style:italic;
	text-decoration:none;
}

.list-group-item-action {
  color:#996600;
}
.list-group-item-action:hover {
  color:#FF9B04;
}

/* NAV BAR */
a.nav-link {
  color: #593500;
	font-weight: normal;
}

nav.navbar {
  width: 100%;
}

/* SHIFT */
nav.navbar ul li a {
  position:relative;
  z-index: 1;
}
nav.navbar ul li a:hover {
  color: #91640F;
}
nav.navbar ul li a:after {
  border-radius: 4px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #FFE79F;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.navbar ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.bg-gray{
  background-color: #ECECEC;
}

.bg-orange{
  background-color: #FFC76F;
}

form{
  display: inline;
}

.page-link {
  color: #996600;
}

.page-item.active .page-link {
  background-color: #FFC76F;
  border-color: #FFC76F;
}

.btn-success {
  color: #593500;
}

.btn-success:hover {
  background-color: #ffae3d;
  color: #804d00;
}

.page-link:hover {
  color: #FFC76F;
}

.lista-palavras th {
    cursor: pointer;
    background-color: #FFC76F;
    color: white;
}

.lista-palavras td, .lista-palavras th {
    border: 1px solid #ddd;
}

.lista-palavras tr:nth-child(even){
  background-color: #efefed;
}

.lista-palavras tr:hover {
  background-color: #ddd;
}
