body {
    background-color: #ffffff;
    color: #593500;
}

/* MAIN */
main.container-fluid {
  background-color: #F7F7F2;
}

/* HEADER */
h2 {
  color: #996600;
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: bold;
}

.h3-lista {
  color: #996600;
  font-size: 15px;
  margin-bottom: 0px;
  font-weight: bold;
  margin-left: 7px;
}

/* ROW */
.row-header-lista {
  background-color: #FFC76F;
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  height: 25px;
}

/* Content */
a {
	color:#996600;
	text-decoration:none;
	font-weight:bold;
}

a:hover {
	color:#FF9B04;
	font-style:italic;
	text-decoration:none;
}

.list-group-item-action {
  color:#996600;
}
.list-group-item-action:hover {
  color:#FF9B04;
}

/* NAV BAR */
a.nav-link {
  color: #593500;
	font-weight: normal;
}

nav.navbar {
  width: 100%;
}

/* SHIFT */
nav.navbar ul li a {
  position:relative;
  z-index: 1;
}

nav.navbar ul li a:hover {
  color: #91640F;
  border-radius: 4px;
  background: #FFE79F;
}

nav.navbar ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.bg-gray{
  background-color: #ECECEC;
}

.bg-orange{
  background-color: #FFC76F;
}

form{
  display: inline;
}

.page-link {
  color: #996600;
}

.page-item.active .page-link {
  background-color: #FFC76F;
  border-color: #FFC76F;
}

.btn-success {
  color: #593500;
}

.btn-success:hover {
  background-color: #ffae3d;
  color: #804d00;
}

.page-link:hover {
  color: #FFC76F;
}

.lista-palavras th {
    background-color: #FFC76F;
    color: white;
    border: 1px solid #ddd;
}

.tbl-striped tr:nth-child(even), .ocrr:nth-child(4n+1){
  background-color: #efefed;
}

.lista-palavras tr:hover {
  background-color: #ddd;
}

.dropdown-item-danger.active,
.dropdown-item-danger:active {
  color: #fff;
  text-decoration: none;
  background-color: #e3342f
}

.ck-editor__editable {
    min-height: 350px !important;
}
